/* Application-wide Styles */
#main-tx {
  font-size: 1.0em;
  margin-bottom: 50px;
  color: cadetblue;
}
#base-text {
  color: #b9efe8;
  font-size: 1.5em;
  margin-top: 150px;
}
h1 {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 250%;
  }
  h2, h3 {
    color: #444;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
  }
  body {
    margin: 2em;
  }
  #base-component{
    background-image: url("../assets/img/base.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    height: 600px;
  }
  body, input[text], button {
    color: #888;
    font-family: Cambria, Georgia;
  }
  /* everywhere else */
  * {
    font-family: Arial, Helvetica, sans-serif;
  }